* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.container {
  width: 1200px;
  padding: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
}

.count {
  font-size: xx-large;
}

.img_container {
  position: relative;
  padding: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.result_container {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.img_block {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #7b7979;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
}

.img_block:hover,
.img_block:focus,
.reset_btn:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 0 8px 6px -6px #7b7979;
}

.big_icon {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.small_icon {
  width: 30px;
}

.rules_container {
  position: relative;
}

.rules {
  width: fit-content;
  text-align: start;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid #7b7979;
}

.rules:hover + .rules_list {
  opacity: 1;
}

.rules_list {
  opacity: 0;
  width: fit-content;
  position: absolute;
  bottom: 35px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7b7979;
  transition: all 200ms ease-in-out;
}

.rules_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  padding: 5px;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
}

.reset_btn {
  padding: 5px;
  transition: all 100ms ease-in-out;
}
